a {
  color: #428bca;
}

code {
  white-space: normal;
}

img {
  padding: 4px;
}

.img-right {
  float: right;
}

.img-center {
  text-align: center;
}

.blog-aside {
  padding-top: 36px;
}

.aside-widget {
  margin-bottom: 30px;
}