<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Blog Posts Feed">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/bootstrap/bootstrap-theme.min.css">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="/css/vendor/font-awesome/font-awesome.min.css">

    <!-- Google Webfonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <meta name="google-site-verification" content="bkoWJky-OKCEcOO415xKLrUBwuPZhvh7r5Iokv6maDw" />

    <!-- Styles -->
    <link rel="stylesheet" href="/css/styles-bluegreen.css" id="theme-styles">
    <link rel="stylesheet" href="/css/custom.css" id="theme-styles">

    <!--[if lt IE 9]>
    <script src="/js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script>window.jQuery || document.write('<script src="/js/vendor/jquery/jquery-1.11.0.min.js"><\/script>')</script>

    {% seo title=false %}
</head>
<body>
<header>
    <div class="widewrapper masthead">
        <div class="container">
            <div class="row">
            <div class="col-md-8">
                <a href="/" id="logo"><img src="/img/everett.png"></a>
                <h1 style="margin-left: 80px;">Everett Toews</h1>
                Helping you shave narwhals
            </div></div>
        </div>
    </div>
</header>

<div class="widewrapper main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">

                {{ content }}

            </div>
            <aside class="col-md-4 blog-aside">
                <div class="aside-widget">
                    <header>
                        <h3>About</h3>
                    </header>
                    <div class="body">
                        <p>I'm Everett Toews. 👋</p>
                        <p>I'm working to make the cloud easy to use through a combination of development, operations, testing, continuous integration/deployment, and documentation. I'm interested in composing distributed systems using APIs, SDKs, CLIs, and containers. I like to teach what I learn along the way.</p>
                        <p><a href="/atom.xml" target="_blank"><i class="fa fa-rss" style="font-size: 1em;" aria-hidden="true"></i> Subscribe</a></p>
                    </div>
                </div>

                <div class="aside-widget">
                    <header>
                        <h3>Twitter</h3>
                    </header>
                    <div class="body">
                        <a class="twitter-timeline" data-height="1000" data-dnt="true" href="https://twitter.com/etoews?ref_src=twsrc%5Etfw">Tweets by etoews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>

                <div class="aside-widget">
                    <header>
                        <h3>GitHub</h3>
                    </header>
                    <div class="body">
                      <div class="github-card" data-github="etoews" data-width="320" data-height="" data-theme="default"></div>
                      <script src="//lab.lepture.com/github-cards/widget.js"></script>
                    </div>
                </div>

                <div class="aside-widget">
                    <header>
                        <h3>StackOverflow</h3>
                    </header>
                    <div class="body">
                        <a href="https://stackexchange.com/users/13044" target="_blank">
                            <img src="https://stackexchange.com/users/flair/13044.png?theme=clean" alt="profile for Everett Toews on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Everett Toews on Stack Exchange, a network of free, community-driven Q&amp;A sites">
                        </a>
                    </div>
                </div>

                <div class="aside-widget">
                    <header>
                        <h3>EFF</h3>
                    </header>
                    <div class="body">
                        <a href="https://www.eff.org/" target="_blank">
                            <img src="/img/eff.png" alt="Electronic Frontier Foundation: Defending Your Rights in the Digital World">
                        </a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<footer>
    <div class="widewrapper footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-widget">
                    <h3><i class="fa fa-envelope"></i>Contact Me</h3>
                    <ul class="tales-list">
                        <li><a href="https://github.com/etoews">GitHub</a></li>
                        <li><a href="https://www.twitter.com/etoews">Twitter</a></li>
                        <li><a href="https://www.linkedin.com/in/etoews">LinkedIn</a></li>
                    </ul>
                </div>

                <div class="col-md-3 footer-widget">
                    <h3><i class="fa fa-share"></i> More Stuff</h3>
                    <ul class="tales-list">
                        <li><a href="/category">Categories</a></li>
                        <li><a href="https://www.slideshare.net/phymata">SlideShare</a></li>
                        <li><a href="https://www.youtube.com/user/evtoews">YouTube</a></li>
                        <li><a href="http://totalbottomtime.com/">Total Bottom Time</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>

<script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/js/vendor/modernizr/modernizr.js"></script>

</body>
</html>
